html {
    font-size: 16px; /*set root height*/
    font-family: 'Open Sans', sans-serif;
  }


header {
    display: flex;
    justify-content: space-between;
    background: rebeccapurple;
    color: white;
}

header h1 {
    margin-left: 2rem;
}

nav {
    margin-right: 2rem;
    margin-top: 2rem;
}

nav span {
    margin-right: 2rem;
}

form {
    margin-top: 2rem;
}


.posts-div {
    display: flex;
    padding: 1rem;
}

.post-panel {
    border: 1px black solid;
    margin-bottom: 1rem;
    padding: 1rem;
    background: beige;
}


.accordion-content {
    background: pink;
    padding : 10px;
 }

 .active .accordion-content {
    background: pink;
    display : block;
    padding : 10px;
 }

 .search-area {
    overflow: scroll; 
    max-height: 30rem;
    margin-left: 3rem;
    border: 2px solid blue;
    width: 30rem;;
 }

 .gifs-here {
     display: flex;
     flex-wrap: wrap;
 }