html {
    font-size: 16px; /*set root height*/
    font-family: 'Open Sans', sans-serif;
  }


header {
    display: flex;
    justify-content: space-between;
    background: rebeccapurple;
    color: white;
}

header h1 {
    margin-left: 2rem;
}

nav {
    margin-right: 2rem;
    margin-top: 2rem;
}

nav span {
    margin-right: 2rem;
}

form {
    margin-top: 2rem;
}


.posts-div {
    display: flex;
    padding: 1rem;
}

.post-panel {
    border: 1px black solid;
    margin-bottom: 1rem;
    padding: 1rem;
    background: beige;
}


.accordion-content {
    background: pink;
    padding : 10px;
 }

 .active .accordion-content {
    background: pink;
    display : block;
    padding : 10px;
 }

 .search-area {
    overflow: scroll; 
    max-height: 30rem;
    margin-left: 3rem;
    border: 2px solid blue;
    width: 30rem;;
 }

 .gifs-here {
     display: flex;
     flex-wrap: wrap;
 }

 .lightbox .thumbnail{
     margin: 1em auto;
    }



button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    }

/* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    50% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    50% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @-webkit-keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  .hvr-icon-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-bob .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
    -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
