html {
    font-size: 16px; /*set root height*/
    font-family: 'Varela Round', sans-serif;
  }


/* HEADER SECTION */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rebeccapurple;
    color: white;
    height: 12rem;
}

body .active {
  background-color: white;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 10s;
}

@keyframes color {
  0% {
    background-color: white;
  }
  50% {
    background-color: #4285f4;
  }
  100% {
    background-color: #222;
  }
}

/* header h1 {
    margin-left: 2rem;
} */

/* nav {
    margin-right: 2rem;
    margin-top: 2rem;
} */



.nav-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-elements h1 {
  font-family: 'Finger Paint', cursive;
  font-size: 3rem;
  color: #fff;
  -webkit-animation:pulse 1s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}



#search {
  margin-left: 2rem;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}

#forum {
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}

#search, #forum {
  font-size: 1.3rem;
}

#search:hover, #forum:hover {
  color: pink;
}


/* PAGE SECTION */

.king-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: beige;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 91%, rgba(103,52,147,1) 100%, rgba(103,52,147,1) 100%); */
}

#main-section {
  margin-top: 3rem;
}

/* SIDE ELEMENTS */

#gif-search-side {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-left: -1rem;
  transition: 0.3s;
  /* margin-top: -2.5em; */
}

#gif-search-side:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #673493;
} 

/* #gif-search-side i {
  background: #4285f4;
} */

#feelings-progress-bar {
  position: fixed;
  left: 0;
  top: 44%;
  height: 20rem;
  margin-left: 4.5rem;
  background-color: purple;
  border: 4px purple solid;
  border-radius: 1rem;
  width: 2rem;
}

#progress {
  height: 95%;
  width: 100%;
  background-color: white;
  border: 0px; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: -0.20rem;
}

#feelometer-heading {
  top: 33%;
  position: fixed;
  left: 0;
  margin-left: 2.3rem;
  font-family: 'Finger Paint', cursive;
}

/* FORMS STYLNG  */

#signup-block, #signup-block {
  margin-top: 3rem;
}

#signup-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#signup-block h2 {
  font-family: 'Finger Paint', cursive;
}

#sharing-block { 
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sharing-block h2 {
  font-family: 'Finger Paint', cursive;
}

#new-user-form.visible, 
#feelings-form.visible {
  display: block;
}

/* POST STYLING */

.post-panel {
  border: 1px black solid;
  margin-bottom: 1rem;
  padding: 1rem;
  /* background: beige; */
  width: 40rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  background: #fff;
}

.visible-main {
  display: flex;
  align-items: center;
  
}

/* #posts-div {
  display: none;
  padding: 1rem;
  position: relative;
} */

#see-heading {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  margin-bottom: 3rem;
  transition: 0.3s;
}

#see-heading:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #673493;
}

.score {
  margin-left: 1rem;
  
}

.feelings-content {
  display: flex;
  
  width: 20rem;
  /* margin-left: 2rem; */
  width: 35rem;
  border-bottom: 1px solid grey;
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
}

.feelings-content h3, p {
  font-size: 0.8em;
}

.feelings-content h3 {
  font-family: 'Finger Paint', cursive;
}

.feelings-text {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.gif-div {
  padding: 0.3rem;
  background: #673493;
  border-radius: 0.3rem;
}

.gif-div img {
  border: 0.5px solid black;
}

.random {
  width: 100rem;
}

.posted-by {
  font-size: 0.6rem;
}

.forum-icons {
  display: flex;
}

.forum-edit-icon {
  margin-top: -0.09rem;
  margin-left: 1.5rem;
}

/* .edit-btn {
  margin-top: 10rem;
  background-color: green;
} */

#accordian-main {
  display: none;
}

.accordion-content {
    background: lightgray;
    padding : 10px;
    width: 80%;
    margin-left: 3.3rem;
    margin-top: 1rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  
 }

 .join-convo {
    font-family: 'Finger Paint', cursive;
 }


 .active .accordion-content {
    background: pink;
    display : block;
    padding : 10px;
 }

 .edit-form {
   margin-left: 3.3rem;
 }

 .edit-form div input {
  border-radius: 0.3rem;
  border: 0.5px solid purple;
  height: 1.2rem;
  width: 15rem;
  font-size: 0.8rem;
 }

 .edit-form p {
   margin-bottom: 0.5em;
 }

 .edit-form-button {
  margin-top: 1em;
}

/* COMMEMTS */

.delete-comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

/* FORM SECTION */

 form {
  margin-top: 2rem;

}

#new-user-form {
  display: none;
  
}


#new-user-form input {
  border-radius: 0.3rem;
  border: 0.5px solid purple;
  height: 1.4rem;
  width: 15rem;
}

#new-user-form div {
  margin-bottom: 1rem;
}

#feelings-form {
  display: none;
  flex-direction: column;
  align-items: center;
}

#feelings-form input {
  border-radius: 0.3rem;
  border: 0.5px solid purple;
  height: 1.4rem;
  width: 15rem;
}

#feelings-form div {
  margin-bottom: 1rem;
}

#feelings-form select {
  margin-bottom: 1rem;
}

/* PAGE SUB-HEADINGS */

#sign-up {
  cursor: pointer;
  transition: 0.3s;
  
}

#sign-up:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #673493;
} 

#share {
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

#share:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #673493;
} 

/* ACCORDIAN SECTION */


/* SEARCH AREA  */

#search-area-main {
  height: 35rem;
  display: none;
  
}

 #search-area {
    /* overflow: scroll;  */
    display: flex;
    margin-top: 3rem;
    width: 40rem;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    height: 20rem;
    background-image: url('https://media.giphy.com/media/julB5gbf0mIFO/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;

 }

 #search-area h2 {
   color: white; 
   font-size: 2rem;
   text-shadow: 2px 2px #FF0000;
   text-align: center;
 }

 #search-form input {
   width: 20rem;
   border: 1px solid purple; 
   height: 2rem;
   border-radius: 0.5rem; 
 }

 #gifs-here {
   /* display: flex; */
   height: 10px;
   width: 40rem;
 }

 /* #search-form {
   
 } */


 #gifs-here {
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center

 }

 .gif-result {
  max-width: 15rem;
  margin: 0.5rem;
}

 .lightbox .thumbnail{
     margin: 1em auto;
    }



/* Icon bob  */

/* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    50% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    50% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @-webkit-keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  .hvr-icon-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-bob .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
    -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    }
